figure.code pre  { color:#fdce93; background-color:#3f3f3f  !important; }
.highlight pre code, .highlight pre { color:#fdce93;background-color:#3f3f3f !important; }
.highlight pre .hll { background-color:#222 !important; }
.highlight pre .c { color:#7f9f7f !important; }
.highlight pre .err { color:#e37170;background-color:#3d3535 !important; }
.highlight pre .g { color:#7f9f7f !important; }
.highlight pre .k { color:#f0dfaf !important; }
.highlight pre .l { color:#ccc !important; }
.highlight pre .n { color:#dcdccc !important; }
.highlight pre .o { color:#f0efd0 !important; }
.highlight pre .x { color:#ccc !important; }
.highlight pre .p { color:#41706f !important; }
.highlight pre .cm { color:#7f9f7f !important; }
.highlight pre .cp { color:#7f9f7f !important; }
.highlight pre .c1 { color:#7f9f7f !important; }
.highlight pre .cs { color:#cd0000;font-weight:bold !important; }
.highlight pre .gd { color:#cd0000 !important; }
.highlight pre .ge { color:#ccc;font-style:italic !important; }
.highlight pre .gr { color:red !important; }
.highlight pre .gh { color:#dcdccc;font-weight:bold !important; }
.highlight pre .gi { color:#00cd00 !important; }
.highlight pre .go { color:gray !important; }
.highlight pre .gp { color:#dcdccc;font-weight:bold !important; }
.highlight pre .gs { color:#ccc;font-weight:bold !important; }
.highlight pre .gu { color:purple;font-weight:bold !important; }
.highlight pre .gt { color:#0040D0 !important; }
.highlight pre .kc { color:#dca3a3 !important; }
.highlight pre .kd { color:#ffff86 !important; }
.highlight pre .kn { color:#dfaf8f;font-weight:bold !important; }
.highlight pre .kp { color:#cdcf99 !important; }
.highlight pre .kr { color:#cdcd00 !important; }
.highlight pre .kt { color:#00cd00 !important; }
.highlight pre .ld { color:#cc9393 !important; }
.highlight pre .m { color:#8cd0d3 !important; }
.highlight pre .s { color:#cc9393 !important; }
.highlight pre .na { color:#9ac39f !important; }
.highlight pre .nb { color:#efef8f !important; }
.highlight pre .nc { color:#efef8f !important; }
.highlight pre .no { color:#ccc !important; }
.highlight pre .nd { color:#ccc !important; }
.highlight pre .ni { color:#c28182 !important; }
.highlight pre .ne { color:#c3bf9f;font-weight:bold !important; }
.highlight pre .nf { color:#efef8f !important; }
.highlight pre .nl { color:#ccc !important; }
.highlight pre .nn { color:#8fbede !important; }
.highlight pre .nx { color:#ccc !important; }
.highlight pre .py { color:#ccc !important; }
.highlight pre .nt { color:#9ac39f !important; }
.highlight pre .nv { color:#dcdccc !important; }
.highlight pre .ow { color:#f0efd0 !important; }
.highlight pre .w { color:#ccc !important; }
.highlight pre .mf { color:#8cd0d3 !important; }
.highlight pre .mh { color:#8cd0d3 !important; }
.highlight pre .mi { color:#8cd0d3 !important; }
.highlight pre .mo { color:#8cd0d3 !important; }
.highlight pre .sb { color:#cc9393 !important; }
.highlight pre .sc { color:#cc9393 !important; }
.highlight pre .sd { color:#cc9393 !important; }
.highlight pre .s2 { color:#cc9393 !important; }
.highlight pre .se { color:#cc9393 !important; }
.highlight pre .sh { color:#cc9393 !important; }
.highlight pre .si { color:#cc9393 !important; }
.highlight pre .sx { color:#cc9393 !important; }
.highlight pre .sr { color:#cc9393 !important; }
.highlight pre .s1 { color:#cc9393 !important; }
.highlight pre .ss { color:#cc9393 !important; }
.highlight pre .bp { color:#efef8f !important; }
.highlight pre .vc { color:#efef8f !important; }
.highlight pre .vg { color:#dcdccc !important; }
.highlight pre .vi { color:#ffffc7 !important; }
.highlight pre .il { color:#8cd0d3 !important; }
